body{
    margin: 0;
    padding: 0;
    background:#34485e;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.for{
    top: 50%;
    left: 50%;
    position: absolute;
    width: 300px;
    padding: 40px;
    transform: translate(-50%,-50%);
    background: black;
    text-align: center;
}
.for h1{
    color: white;
    text-transform: uppercase;
}
.for input[type = "text"],.for input[type = "email"],.for input[type = "password"]{
    border: 0;
    background: none;
    display: block;
    margin: 20px auto;
    border: 2px solid cyan;
    padding: 15px 10px;
    width: 200px;
    outline: none;
    border-radius: 25px;
    color: white;
    transition: 0.25s;
}
.for input[type = "text"]:focus,.for input[type = "email"]:focus,.for input[type = "password"]:focus{
    width: 250px;
    border-color: #2ecc71;
}
.for input[type = "submit"]{
    border: 0;
    background: none;
    display: block;
    margin: 20px auto;
    border: 2px solid #2ecc71;
    padding: 15px 40px;
    outline: none;
    border-radius: 25px;
    color: white;
    transition: 0.25s;
    cursor: pointer;
}
.for input[type = "submit"]:hover{
    background: #2ecc71;
}