*{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.barra-nav{
    background-color: gray;
    width: 100%;
    height: 100px;
}
.barra-nav img{
    height: 100px ;
    margin-left: 150px; 
    border: 2px solid black;
    border-radius: 100px;
}
.barra-nav img:hover{
    border:2px solid blue;
    cursor: pointer;
    transition: 0.5s;
}

.list{
    display: flex;
    float: right;
    line-height: 100px;
    list-style:none;
    margin-right: 100px;
}
li{
    padding-right: 50px;
    
}
.list a{
    color: white;
    text-transform:capitalize;
    font-size: 20px;
    text-decoration: none;
}
.list a:hover{
    padding: 10px;
    color: black;
    background-color: lightyellow;
    border:2px solid blue;
    border-radius: 60px;
    cursor: pointer;
    transition: 0.1s;
}
.login{
    color:black;
}